@import "../../styles/mixins.scss";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 531px;
  padding: 50px 50px 43px;
  box-sizing: border-box;
  border-radius: 50px;
  justify-content: space-between;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;

  @include xxl {
    width: 450px;
    min-height: 531px;
  }

  @include xl {
    width: 318px;
    min-height: 318px;
    padding: 25px;
    border-radius: 20px;
  }

  &:hover {
    @include onlyDesktop {
      .foto {
        transform: scale(1.2);
      }

      .forward-button {
        background-color: #286562;
      }
    }
  }

  &:active {
    @include onlyDesktop {
      .forward-button {
        background-color: #efa501;
      }
    }
  }
}

.button-arrow {
  min-width: 22px;
  min-height: 15px;
  background-image: url(../../images/arrow-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.forward-button {
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 199px;
  min-height: 42px;
  transform: translateX(-20px);
  padding: 7px 20px;
  border: 0;
  border-radius: 50px;
  background-color: transparent;
  align-items: center;
  gap: 17px;
  color: #ffffff;
  cursor: pointer;

  @include xl {
    width: 123px;
    min-height: 26px;
    padding-bottom: 1px;
  }

  @include text-bold;

  @include hover;
}

.foto {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.subtitle {
  max-width: 270px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;

  @include xl {
    letter-spacing: -0.04em;
  }
}

.text-сontainer {
  position: relative;
  z-index: 2;
}

.title {
  max-width: 270px;
  margin: 0 0 18px;

  @include xxl {
    max-width: 350px;
  }

  @include xl {
    margin-bottom: 13px;
  }

  @include text-card-title;
}
