@import "styles/mixins.scss";

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  color: #ffffff;

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(27px);
    -webkit-backdrop-filter: blur(27px);
  }
}

.logo {
  min-width: 182px;
  min-height: 30px;
  background-image: url(../../images/logo-img.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include m {
    min-width: 133px;
    min-height: 22px;
  }

  &.scrolled {
    background-image: url(../../images/logo-black-img.svg);
  }
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  max-width: 1168px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  padding: 29px 57px;
  box-sizing: border-box;

  @include m {
    padding: 33px 20px;
  }
}

.phone-number {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;

  &.scrolled {
    color: #1b1f2b;

    @include m {
      font-size: 20px;
      line-height: 28px;
    }

    @include hoverUnderline(#1b1f2b, 0px);
  }

  @include text;

  @include hoverUnderline(#ffffff, 0px);
}
