@import "../../styles/mixins.scss";

.root {
  display: flex;
  flex-direction: column;
  padding: 135px 0 82px;
  align-items: center;

  @include xxl {
    padding: 135px 53px 82px;
  }

  @include m {
    padding: 75px 21px 22px;
  }
}

.title {
  max-width: 473px;
  margin: 0 auto 35px;

  @include l {
    margin-bottom: 30px;
  }

  @include text-section-title;
}

.cards {
  display: flex;
  flex-direction: row;
  max-width: 1170px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;

  @include xxl {
    gap: 18px;
  }
}
