@import "styles/mixins.scss";

.root {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 25px;
  list-style-type: none;
  align-items: center;

  @include m {
    gap: 17px;
  }
}

.link {
  position: relative;
  vertical-align: middle;
  color: #1b1f2b;
  text-decoration: none;

  &:active {
    color: #efa501;
  }

  @include text;

  @include hoverUnderline(#1b1f2b);
}

.icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right center;

  @include m {
    width: 20px;
    height: 20px;
  }

  &.vk {
    margin: 2px 11px 0 0;
    background-image: url(../../images/vk-icon-img.svg);
    background-size: 20px 12px;

    @include m {
      background-size: 15.38px 9.23px;
      background-position: center center;
      margin-right: 4px;
    }
  }

  &.inst {
    margin-right: 8px;
    background-position: 8px 8px;
    background-image: url(../../images/ins-icon-img.svg);
    background-size: 14px 14px;

    @include m {
      margin-right: 4px;
      background-size: 10.77px 10.77px;
      background-position: 0 5px;
      background-position-x: 7px;
    }
  }

  &.fb {
    margin-right: 10px;
    background-position-x: 15px;
    background-image: url(../../images/fb-icon-img.svg);
    background-size: 8px 17px;

    @include m {
      margin-right: 4px;
      background-size: 6.15px 13.08px;
      background-position: center center;
      background-position-x: 9px;
    }
  }
}
