@import "../../styles/mixins.scss";

.root {
  padding: 53px 53px 52px;

  @include m {
    padding: 53px 21px 52px;
  }
}

.title {
  max-width: 458px;
  margin: 0 auto 30px;

  @include l {
    max-width: 318px;
    margin-bottom: 20px;
  }

  @include text-section-title;
}

.subtitle {
  max-width: 418px;
  margin: 0 auto 100px;
  text-align: center;
  color: #a6a6a6;

  @include l {
    max-width: 318px;
    margin-bottom: 40px;
  }

  @include text;
}
