@import "../../styles/mixins.scss";

.root {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style-type: none;

  @include xxl {
    gap: 30px;
  }

  @include xl {
    display: none;
  }
}

.item {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;

  &.scrolled {
    color: #1b1f2b;
    @include hoverUnderline(#1b1f2b);
  }

  @include hoverUnderline;
}
